{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_sample_product_detail_buy_product_buy_info %}
    <input type="hidden"
            name="lineItems[{{ product.id }}][id]"
            value="{{ product.id }}">
    <input type="hidden"
            name="lineItems[{{ product.id }}][type]"
            value="product">
    <input type="hidden"
            name="lineItems[{{ product.id }}][referencedId]"
            value="{{ product.id }}">
    <input type="hidden"
            name="lineItems[{{ product.id }}][stackable]"
            value="1">
    <input type="hidden"
            name="lineItems[{{ product.id }}][removable]"
            value="1">
    <input type="hidden"
            name="lineItems[{{ sampleProduct.id }}][sampleProductParent]"
            value="{{ product.id }}">           
{% endblock %}




