{% block page_sample_product_detail_buy_form_inner %}
    {# @var page \Shopware\Storefront\Page\Product\ProductPage #}

    {# @var product \Shopware\Core\Content\Product\SalesChannel\SalesChannelProductEntity #}
    {% set product = page.product %}
    {% set sampleProduct = product.extensions.sampleProduct.entities.elements|first %}


    <form
        id="productSampleDetailPageBuyProductForm"
        action="{% block page_sample_product_detail_buy_form_action %}{{ path('frontend.checkout.line-item.add') }}{% endblock %}"
        method="post"
        class="buy-widget"
        data-add-to-cart="true">

        {% block page_sample_product_detail_buy_form_inner_csrf %}
            {{ sw_csrf('frontend.checkout.line-item.add') }}
        {% endblock %}

        {% block page_sample_product_detail_buy_container %}

                <div class="form-row buy-widget-container">
                    {% block page_sample_product_detail_buy_quantity_container %}
                        <div class="col-4">
                            {% block page_sample_product_detail_buy_quantity %}
                                <input type="hidden" name="lineItems[{{ sampleProduct.id }}][quantity]" value="1">
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block page_sample_product_detail_buy_redirect_input %}
                        {# fallback redirect back to detail page is deactivated via js #}
                        <input type="hidden"
                               name="redirectTo"
                               value="frontend.detail.page">

                        <input type="hidden"
                               name="redirectParameters"
                               data-redirect-parameters="true"
                               value='{"productId": "{{ product.id }}"}'>
                    {% endblock %}

                    {% block page_sample_product_detail_buy_product_buy_info %}
                        <input type="hidden"
                               name="lineItems[{{ sampleProduct.id }}][id]"
                               value="{{ sampleProduct.id }}">
                        <input type="hidden"
                               name="lineItems[{{ sampleProduct.id }}][type]"
                               value="product">
                        <input type="hidden"
                               name="lineItems[{{ sampleProduct.id }}][referencedId]"
                               value="{{ sampleProduct.id }}">
                        <input type="hidden"
                               name="lineItems[{{ sampleProduct.id }}][stackable]"
                               value="1">
                        <input type="hidden"
                               name="lineItems[{{ sampleProduct.id }}][removable]"
                               value="1">
                        <input type="hidden"
                               name="lineItems[{{ sampleProduct.id }}][sampleProductParent]"
                               value="{{ product.id }}">       
                    {% endblock %}

                    {% block page_sample_product_detail_product_buy_meta %}
                        <input type="hidden"
                               name="product-name"
                               value="{{ sampleProduct.translated.name }}">
                        <input type="hidden"
                               name="brand-name"
                               value="{{ sampleProduct.manufacturer.getName() }}">
                    {% endblock %}

                    {% block page_sample_product_detail_buy_button_container %}
                        <div class="col-8">
                            {% block page_sample_product_detail_buy_button %}
                                <button class="btn btn-primary btn-block btn-sample-article"
                                        title="{{ "SampleArticlePlugin.widgetForm.buttonTitle"|trans|striptags }}"
                                        aria-label="{{ "SampleArticlePlugin.widgetForm.buttonTitle"|trans|striptags }}">
                                   {{ "SampleArticlePlugin.widgetForm.buttonTitle"|trans|sw_sanitize }}
                                </button>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
       
        {% endblock %}
    </form>
{% endblock %}
